# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Files
# =========================
.env

# =========================
# Docker
# =========================
docker-data/

# =========================
# Coverage
# =========================
coverage/